---
import { Icon } from 'astro-icon/components'
import Border from './Border.astro'

const { icon = 'mdi:rocket', title = 'Default Title' } = Astro.props
---
<Border>
  <Icon name={icon} />
    <h3>{title}</h3>
    <p>
      <slot>default feature content</slot>
    </p>  
</Border>


